.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15vw;
    margin-top: 8vw;
}
.txt-logo {
    font-family: 'Righteous', cursive;
    font-size: 90px;
    color: #D84B26
}
.container-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-style {
    width: 50vw;
    height: 5vw;
    margin-bottom: 5vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border-bottom: 1px solid;
    border-top: none;
    border-right: none;
    border-left: none;
}

.local-type {
    text-align: center;
    -webkit-text-align: center;
    width: 18vw;
    height: 5vw;
    border: 1px solid;
    border-radius: 25px;
    box-shadow: 0;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.btn-style {
    width: 30vw;
    height: 5vw;
    border: 1px solid #FAD120;
    border-radius: 25px;
    box-shadow: 0;
    margin-top: 8vw;
    margin-bottom: 8vw;
    background-color: #FAD120;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
}

.sing-in {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: black;
}

.footer {
    width: 100%;
    -webkit-width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 8vw;
}

.img-footer {
    width: 100%;
}