.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.breakfast-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pointer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 40px;
    position: relative;
    background: #D84B26;
    margin-bottom: 3vh;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    color: white;
    
}

.pointer:after {
    display: flex;
    justify-content: center;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.pointer:before {
    display: flex;
    justify-content: center;
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 20px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.container-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-plus {
    margin-right: 1vw;
    font-size: 15px;
    color: black;
}

.fa-minus {
    margin-right: 1vw;
    font-size: 15px;
    color: black;
}

.item {
    display: inline-block;
    margin-bottom: 1vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: black;
}

.value {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: black;
}

.amount {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: black;
    margin-left: 1vw;
    margin-right: 1vw;
}

.total-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    width: 40vw;
}

.total {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: black;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-style {
    width: 50vw;
    height: 5vw;
    margin-bottom: 2vh;
    margin-top: 2vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border-bottom: 1px solid;
    border-top: none;
    border-right: none;
    border-left: none;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-style {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 5vw;
    border: 1px solid #D84B26;
    border-radius: 25px;
    box-shadow: 0;
    background-color: #D84B26;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    margin-bottom: 2vh;
}

.footer {
    width: 100%;
    -webkit-width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

.img-footer {
    width: 100%;
}